.hero_content h2{
    font-weight: 600;
    line-height: 55px;
    background-color: rgb(158, 174, 188);
}
.hero_content{
    padding-top: 80px;
}
.food_recipe{
    margin:4rem 6rem;
}
.food_recipe h1{
    font-size: 3rem;
}
.first_cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
}
.first_text{
    width: 45%;
    text-align: start;
    font-size: 1.1rem;
}
.first_text h2{
    padding-bottom: 1rem;
}
.image{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-between;
    z-index:-99;
}
.image img{
    width: 49%;
    height: 350px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -1px 1px 62px -18px rgb(10, 10, 10);
}
.text{
    color: rgb(139, 139, 139);
}

